.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

/* shared-styles */

.same-color {
  color: #0e0e0e;
}

body {
  width: 90%;
  margin: auto;
  background-color: #e6f3f8;
}

.primary-btn {
  padding: 17px 34px;
  text-align: center;
  color: #ffffff;
  background-color: #006a50;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-sign-in:hover {
  box-shadow: 0 8px 16px rgba(78, 68, 10, 0.4);
}

.primary-btn:hover {
  box-shadow: 0 8px 16px rgba(78, 68, 10, 0.4);
}

.learn-more-btn3:hover {
  box-shadow: 0 8px 16px rgba(78, 68, 10, 0.4);
}

.learn-more-btn2:hover {
  box-shadow: 0 8px 16px rgba(78, 68, 10, 0.4);
}

.learn-more-btn1:hover {
  box-shadow: 0 8px 16px rgba(78, 68, 10, 0.4);
}

.primay-heading {
  font-weight: bold;
  font-size: 40px;
}

.primary-donate {
  background-color: #ffffff;
  color: #0e0e0e;
  padding: 40px;
  border-radius: 16px;
}

.primary-donate:hover {
  background-color: rgb(216, 255, 242);
}

/* navigation-bar-styles */
.nav-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 50px;
}

.nav-title {
  font-weight: bold;
  font-size: 32px;
  margin-top: 12px;
}

.nav-sign-in {
  padding: 15px 30px;
  border-radius: 8px;
  color: #006a50;
  border: 2px solid;
  border-color: #006a50;
  font-weight: 800;
  font-size: 18px;
}

/* banner-styles */

.banner-container {
  display: flex;
  justify-content: space-around;
  background-color: #c6e4d6;
  padding: 60px 40px;
  border-radius: 24px;
  height: 370px;
  margin-bottom: 50px;
}

.banner-sub-title {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 600;
  opacity: 60%;
}

.banner-box-left {
  text-align: start;
  margin-top: 40px;
}

.banner-title {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 24px;
}

.image {
  height: 325px;
}

/* vision-part */
.vision-boxes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.vision-title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 12px;
}

/* The future of vision 3 box part  */

.vision-description {
  margin-bottom: 35px;
  opacity: 70%;
}

.vision-box-description2 {
  margin-bottom: 43px;
  opacity: 70%;
}

.vision-box1 {
  background-color: #d5e1f5;
  padding: 15px;
  border-radius: 18px;
  width: 350px;
}

.vision-box2 {
  background-color: #c6e4d6;
  width: 350px;
  padding: 15px;
  border-radius: 18px;
}

.vision-box3 {
  background-color: #f7ebcf;
  width: 350px;
  padding: 15px;
  border-radius: 18px;
}

.vision-box-description {
  margin-bottom: 24px;
  opacity: 70%;
}

/* learn more button  */

.learn-more-btn1 {
  background-color: #6593e4;
  border-radius: 8px;
  padding: 11px 20px;
  color: #ffffff;
  border: none;
}

.learn-more-btn2 {
  background-color: #22bd74;
  border-radius: 8px;
  padding: 11px 20px;
  color: #ffffff;
  border: none;
}

.learn-more-btn3 {
  background-color: #ffc239;
  border-radius: 8px;
  padding: 11px 20px;
  color: #ffffff;
  border: none;
}

/* Qoute-section */

.quote-section {
  background-color: #ffffff;
  border-radius: 16px;
  background-image: url(../assets/quote-bg.png);
  background-repeat: no-repeat;
  background-size: 40px;
  padding: 30px 24px;
  background-position-x: 15px;
  background-position-y: 7px;
  margin-bottom: 50px;
}

.Dr-qoute {
  margin-bottom: 13px;
  opacity: 70%;
}
.Dr-name {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 600;
  opacity: 80%;
}

.Dr-title {
  opacity: 70%;
}

/* recent news section  */
.recent-news-description {
  margin-top: 10px;
  opacity: 70%;
  margin-bottom: 20px;
}

/* Bangladesh achievement box 1*/

.achievement-box1 {
  display: flex;
  background-color: #ffffff;
  border-radius: 24px;
  padding: 30px;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.satelite {
  border-radius: 15px;
}

.achievement-box-title {
  font-size: 32px;
  font-weight: bold;
  opacity: 80%;
  margin-bottom: 12px;
}

.date {
  opacity: 70%;
  margin: 16px 0;
}

.news {
  opacity: 70%;
  margin-bottom: 25px;
}

/* Bangladesh achievement box 2*/

.achievement-box2 {
  display: flex;
  background-color: #ffffff;
  border-radius: 24px;
  padding: 30px;
  justify-content: space-evenly;
  margin-bottom: 60px;
}

.drone {
  width: 400px;
  height: 300px;
  border-radius: 15px;
}

/* Donate section  */

.donate-first-section {
  justify-content: center;
  text-align: center;
  margin-bottom: 35px;
}

.donate-description {
  opacity: 70%;
  margin-top: 24px;
}

/* money box section */

.money-sectoin {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.other-option {
  justify-items: center;
  margin-bottom: 32px;
}

input {
  display: block;
  /* width: 400px;  */
  border: none;
  background-color: #ffffff;
}

.amount {
  padding: 20px 40px;
  text-align: center;
  justify-content: center;
  width: 90%;
}

.donate-now {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 40px;
}

/* Newsletter section   */
.news-letter {
  padding: 80px 100px;
  border-radius: 24px;
  background-color: #c6e4d6;
  align-items: center;
  justify-items: center;
  margin-bottom: 50px;
}

.news-letter-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.news-letter-description {
  margin-bottom: 24px;
  opacity: 70%;
}

.news-letter-buttons {
  display: flex;
  margin-bottom: 32px;
}

input {
  padding: 18px 40px;
  width: 500px;
  border: none;
  border-color: none;
}

.news-letter-end {
  opacity: 70%;
}

/* footer  */

.ending-title {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ending-images {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
